<!DOCTYPE html>
<!--
	Broadcast by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Diseño Electrónico</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../public/css/hojadisenopagina.css" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css"
		/>
	</head>
	<body>
		<!-- Header -->
		<header id="header">
			<h1>
				<a href="#">La Ruta<span> de Tío Rico</span></a>
			</h1>
			<a href="#menu">Menu</a>
		</header>

		<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href="#main">Tiempo Real</a></li>
				<li><a href="/historicos1">Históricos</a></li>
			</ul>
		</nav>

		<!-- Banner -->
		<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->
		<section id="banner" data-video="images/banner.webm">
			<div class="inner">
				<header>
					<h1>La Ruta de Tío Rico</h1>
					<p>
						Ofrecemos soluciones de rasteo para tus necesidades en logística de
						transporte
					</p>
					<p>Desliza hacia abajo para comenzar</p>
				</header>
			</div>
		</section>

		<!-- Main -->
		<div id="main">
			<!-- One -->
			<section class="wrapper style1">
				<div class="punto1">
					<h1 style="font-size: 50px; text-align: left; margin: 20px" ;>
						Ubicación de tu camión
					</h1>
					<h1 style="font-size: 25px; text-align: left; margin: 20px" ;>
						Vehículo # 1 - Azul
					</h1>
					<h1 id="showLatitude" style="float: left; margin-left: 40px"></h1>
					<h1 id="showFecha" style="float: right; margin-right: 70px"></h1>
					<h1 id="showLongitude" style="float: center; margin-right: 20px"></h1>
					<h1 style="font-size: 25px; text-align: left; margin: 20px" ;>
						Vehículo # 2 - Rojo
					</h1>
					<h1 id="showLatitude2" style="float: left; margin-left: 40px"></h1>
					<h1 id="showFecha2" style="float: right; margin-right: 70px"></h1>
					<h1
						id="showLongitude2"
						style="float: center; margin-right: 20px"
					></h1>
					<main>
						<div id="map"></div>
						<!-- <script src="/codigomaps.js"></script> -->
					</main>
				</div>
			</section>

			<!-- Two -->

			<!-- Three -->
		</div>

		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<div class="flex flex-3">
					<div class="col">
						<h3>VALENTINA GARCÍA C</h3>
						<ul class="alt">
							<li><a href="#">Asistencia App Web</a></li>
							<li><a href="#">Ingeniero Eléctrico y Electrónico</a></li>
							<li><a href="#">vigarcia@uninorte.edu.co </a></li>
						</ul>
					</div>
					<div class="col">
						<h3>LUIS RODRÍGUEZ CAMPBELL</h3>
						<ul class="alt">
							<li><a href="#">Asistencia App Móvil</a></li>
							<li><a href="#">Ingeniero Eléctrico y Electrónico</a></li>
							<li><a href="#">campbelll@uninorte.edu.co </a></li>
						</ul>
					</div>
					<div class="col">
						<h3>MARÍA CABALLERO RUSSI</h3>
						<ul class="alt">
							<li><a href="#">Asistencia AWS y Base de datos</a></li>
							<li><a href="#">Ingeniero Electrónico</a></li>
							<li><a href="#">russim@uninorte.edu.co</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="copyright">
				<ul class="icons">
					<li>
						<a href="#" class="icon fa-twitter"
							><span class="label">Twitter</span></a
						>
					</li>
					<li>
						<a href="#" class="icon fa-facebook"
							><span class="label">Facebook</span></a
						>
					</li>
					<li>
						<a href="#" class="icon fa-instagram"
							><span class="label">Instagram</span></a
						>
					</li>
					<li>
						<a href="#" class="icon fa-snapchat"
							><span class="label">Snapchat</span></a
						>
					</li>
				</ul>
				&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>.
				Images: <a href="https://unsplash.com">Coverr</a>. Video:
				<a href="https://coverr.co">Coverr</a>.
			</div>
		</footer>

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
		<script src="/js/index.js"></script>
	</body>
</html>
